<#include '../layout.ftlh'>

<@layout>
    <form method="post" action="">
        <div class="input-field">
            <input name="title" id="title" type="text">
            <label for="title">Titre</label>
        </div>
        <div class="input-field">
            <input name="publishDate" id="publishDate" type="date">
            <label for="publishDate">Date de publication</label>
        </div>
        <button type="submit">Ajouter</button>
    </form>
</@layout>